body {
  <!--  background-color: Bisque;-->
  font-size: 28pt;
  line-height:1.5;
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}
h1 {
  font-size: 40pt;
}
h2 {
  font-size: 35pt;
}
h3 {
  font-size: 32pt;
}
p {
  margin-left: 0.5cm;
  font-size: 28pt;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
img {
  width: 100%;
  height: auto
}
video {
  width: 100%;
  height: auto
}
